.venv/
.vscode/
books/
books_small/
final_npy/
fine_tuning/
fine_tuning_small/
materials/
pretrain_checkpoint/
pretrain_checkpoint_notebook/
memo.txt
*.zip
8_Supervised_finetuning_Data_Schema/*/
_export_for_application
10_SFT_LORA_training/test_for_application.ipynb
11_Sampling/for_llm_app